# Created by https://www.toptal.com/developers/gitignore/api/text
# Edit at https://www.toptal.com/developers/gitignore?templates=text

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.csv
*.json
*.apkg
*.pyc

# End of https://www.toptal.com/developers/gitignore/api/text